mixin Packages
	+Section('container-fluid').py-7
		//- +Background({ image: `${CWD}assets/img/gallery/destination-bg.png`, attrs: { style: { 'background-position': 'right center', 'background-size': '283px 1422px','margin-top':'4px'} }, className: 'd-none d-xxl-block' })
		.row.g-2
			.col-sm-6.col-md-4.col-lg-3.offset-lg-1
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/agra.png` height='375'  alt='...')
			.col-sm-6.col-md-4.col-lg-3
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/kualalampur.png` height='375'  alt='...')
			.col-12.col-md-4.col-lg-4
				.bg-primary-gradient.h-100
					.row.g-0.justify-content-start
						.col-lg-9
							.p-6.py-lg-8.py-md-5.px-md-3.text-light
								i.fas.fa-gift.fs-5.mb-3
								h2.mb-3.text-light popular Packages
								p Enjoy our pakages to the places our travellers 
									br.d-none.d-lg-block
									|enjoy the most. Affordable, yet enjoyable. For 
									br.d-none.d-lg-block
									|you, and your family.


			.col-sm-6.col-md-4.col-lg-3.offset-lg-1
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/munich.png` height='375'  alt='...')
			.col-sm-6.col-md-4.col-lg-3
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/paris.png` height='375'  alt='...')    
			.col-sm-6.col-md-4.col-lg-3
				.bg-secondary-gradient.py-lg-8.px-4.text-light.py-6.h-100
					p Don’t see a place according to your choice? Don’t worry. We have more for you.
					a.btn.btn-lg.ps-0.pe-3.text-light.fw-normal(href='#' role='button') Click to view more
					svg.bi.bi-arrow-right-circle(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewBox='0 0 16 16')
						path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z')

			.col-sm-6.col-md-4.col-lg-3.offset-lg-1
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/vienna.png` height='375'  alt='...')
			.col-sm-6.col-md-4.col-lg-3
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/prague.png` height='375'  alt='...')
			.col-sm-6.col-md-4.col-lg-3
				img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/agra.png` height='375'  alt='...')    
